tf-server-toolkit/tags/009-00/src/com/triniforce/xml/tfserver/_200701/tfserver.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="srvsoap1"
	targetNamespace="http://triniforce.com/server/soap"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tf="http://triniforce.com/server/soap"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd1="http://triniforce.com/xml/tfserver/200701">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://triniforce.com/xml/tfserver/200701"
			xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:tf="http://triniforce.com/xml/tfserver/200701">

			<complexType name="Select">
				<sequence>
					<element name="sessionId" type="string"></element>
					<element name="selectList" type="tf:SelectList"></element>
					<element name="selectFrom" type="string"></element>
					<element name="selectParams" type="tf:PropValue"
						minOccurs="0" maxOccurs="1">
					</element>
					<element name="selectCount" type="int"></element>
					<element name="selectFromCount" type="int"></element>
				</sequence>
			</complexType>

			<complexType name="SelectList">
				<choice>
					<element name="all" type="tf:All" maxOccurs="1"></element>
					<element name="property" type="string" minOccurs="1"
						maxOccurs="unbounded">
					</element>
				</choice>
			</complexType>

			<simpleType name="All">
				<restriction base="string"></restriction>
			</simpleType>

			<complexType name="PropValue">
				<sequence>

					<element name="name" type="string"></element>
					<element name="value" type="tf:VVariant"></element>
				</sequence>
			</complexType>


			<complexType name="Property">
				<attribute name="objName" type="string"
					use="optional">
				</attribute>
				<attribute name="propName" type="string"
					use="required">
				</attribute>
			</complexType>


			<complexType name="VString">
				<attribute name="value" type="string" use="required"></attribute>
			</complexType>

			<complexType name="VInt">
				<attribute name="value" type="int" use="required"></attribute>

			</complexType>

			<complexType name="VDateTime">
				<attribute name="value" type="dateTime"
					use="required">
				</attribute>


			</complexType>

			<complexType name="VNull">


			</complexType>


			<complexType name="SelectResponse">
				<sequence>
					<element name="fieldDef" type="tf:FieldDef"
						maxOccurs="unbounded" minOccurs="1">
					</element>
					<element name="value" type="tf:VVariant"
						minOccurs="0" maxOccurs="unbounded">
					</element>
				</sequence>
			</complexType>


			<complexType name="ModificationRequest">
				<sequence>
					<element name="sessionId" type="string"></element>
					<element name="fileId" type="string"></element>
					<element name="fileType" type="string">
						<annotation>
							<documentation>
								Needed when new documents are created
							</documentation>
						</annotation>
					</element>
					<element name="op" type="tf:Operation"
						maxOccurs="unbounded" minOccurs="1">
					</element>
				</sequence>
			</complexType>

			<complexType name="OpInsert">
				<sequence>
					<element name="tableName" type="string"></element>
					<element name="value" type="tf:PropValue"
						maxOccurs="unbounded" minOccurs="1">
					</element>
				</sequence>
			</complexType>

			<complexType name="OpUpdate">
				<sequence>
					<element name="tableName" type="string"></element>
					<element name="rowId" type="string"></element>
					<element name="value" type="tf:PropValue"
						maxOccurs="unbounded" minOccurs="1">
					</element>
				</sequence>
			</complexType>

			<complexType name="OpDelete">
				<sequence>
					<element name="tableName" type="string"></element>
					<element name="rowId" type="string"></element>
				</sequence>
			</complexType>

			<complexType name="IdMap">
				<attribute name="clientId" type="string"></attribute>
				<attribute name="serverId" type="string"></attribute>
			</complexType>


			<complexType name="LoginRequest">
				<sequence>
					<element name="login" type="string"></element>
					<element name="password" type="string"></element>
				</sequence>
			</complexType>






			<complexType name="EAuth"></complexType>


			<complexType name="EGeneralServerError">
				<sequence>
					<element name="nativeExceptionName" type="string"></element>
					<element name="thread" type="string"></element>
					<element name="stack" type="string"></element>
				</sequence>
			</complexType>

			<complexType name="SelectRequest">
				<sequence>
					<element name="sessionId" type="string"></element>
					<element name="from" type="string"></element>
					<element name="column" type="tf:Property"
						maxOccurs="unbounded" minOccurs="1">
					</element>
					<element name="param" type="tf:PropValue"
						maxOccurs="unbounded" minOccurs="0">
						<annotation>
							<documentation>
								Dir-Property which will be used to
								search for files listed files. Such a
								property must at least speed-up
								searching plus optionally filter
								content.
							</documentation>
						</annotation>
					</element>
					<element name="order" type="tf:Property"
						maxOccurs="unbounded" minOccurs="0">
						<annotation>
							<documentation>
								array of names for "order by"
							</documentation>
						</annotation>
					</element>
					<element name="filter" type="tf:Filter"
						maxOccurs="unbounded" minOccurs="0">
						<annotation>
							<documentation>
								set of filters for filtering result.
								First filter in array will be applied
								first etc, then second filter will be
								used etc
							</documentation>
						</annotation>
					</element>
					<element name="startFrom" type="int">
						<annotation>
							<documentation>
								record number (zero-based) to start from
							</documentation>
						</annotation>
					</element>
					<element name="limit" type="int">
						<annotation>
							<documentation>
								maximum number of records to fetch
							</documentation>
						</annotation>
					</element>
				</sequence>
			</complexType>

			<complexType name="Filter">
				<sequence>
					<element name="filterName" type="string"></element>
					<element name="prop" type="tf:PropValue"
						maxOccurs="unbounded" minOccurs="0">
					</element>
				</sequence>
			</complexType>

			<complexType name="Operation">
				<choice>
					<element name="opInsert" type="tf:OpInsert"></element>
					<element name="opUpdate" type="tf:OpUpdate"></element>
					<element name="opDelete" type="tf:OpDelete"></element>
				</choice>
			</complexType>

			<complexType name="VVariant">
				<choice>
					<element name="vDateTime" type="tf:VDateTime"></element>
					<element name="vInt" type="tf:VInt"></element>
					<element name="vNull" type="tf:VNull"></element>
					<element name="vString" type="tf:VString"></element>
					<element name="vArray" type="tf:VArray"></element>
					<element name="vLong" type="tf:VLong"></element>
					<element name="vDouble" type="tf:VDouble"></element>
					<element name="vDecimal" type="tf:VDecimal"></element>
					<element name="vCLOB" type="tf:VCLOB"></element>
				</choice>
			</complexType>

			<complexType name="FieldDef">
				<sequence>
					<element name="name" type="string"></element>
				</sequence>
			</complexType>

			<complexType name="ModificationResponse">
				<sequence>
					<element name="idMap" type="tf:IdMap"
						maxOccurs="unbounded" minOccurs="0">
					</element>
				</sequence>
			</complexType>

			<complexType name="VArray">
				<sequence maxOccurs="unbounded" minOccurs="0">
					<element name="vVariant" type="tf:VVariant"></element>
				</sequence>
			</complexType>



			<complexType name="VDouble">
				<attribute name="value" type="double"></attribute>
			</complexType>

			<complexType name="VLong">
				<attribute name="value" type="long"></attribute>
			</complexType>

			<complexType name="VDecimal">
				<attribute name="value" type="decimal"></attribute>
			</complexType>

			<element name="EAuth" type="tf:EAuth"></element>

			<element name="EGeneralServerError"
				type="tf:EGeneralServerError">
			</element>


			<complexType name="VCLOB">
				<sequence>
					<element name="mimeType" type="string"></element>
					<element name="data" type="string"></element>
				</sequence>
			</complexType>
		</xsd:schema>

		<!-- Modification request schema -->
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://triniforce.com/server/soap"
			xmlns:tf="http://triniforce.com/xml/tfserver/200701">
			<xsd:import
				namespace="http://triniforce.com/xml/tfserver/200701" />
			<xsd:element name="Modification">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="InModificationRequest"
							type="tf:ModificationRequest">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>

		<!-- Select request schema -->
		<xsd:schema
			targetNamespace="http://triniforce.com/server/soap"
			xmlns:tf="http://triniforce.com/xml/tfserver/200701">
			<xsd:import namespace="http://triniforce.com/xml/tfserver/200701"/>
			
			<xsd:element name="Select">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="InSelectRequest"
							type="tf:SelectRequest">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>


	</wsdl:types>
	<wsdl:message name="ModificationRequest">
		<wsdl:part name="InModificationRequest"
			type="xsd1:ModificationRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModificationResponse">
		<wsdl:part name="OutModificationResponse"
			type="xsd1:ModificationResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="modification_faultMsg">
		<wsdl:part name="FaultEAuth" element="xsd1:EAuth"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="modification_fault1Msg">
		<wsdl:part name="FaultEGeneralServerError"
			element="xsd1:EGeneralServerError">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="LoginRequest">
		<wsdl:part name="InLoginRequest" type="xsd1:LoginRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LoginResponse">
		<wsdl:part name="OutLoginResponse" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="login_faultMsg">
		<wsdl:part name="FaultEAuth" element="xsd1:EAuth"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LogoutRequest">
		<wsdl:part name="InSessionId" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LogoutResponse">
		<wsdl:part name="OutLogoutResponse" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="logout_faultMsg">
		<wsdl:part name="FaultEAuth" element="xsd1:EAuth"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part name="NewOperationRequest" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part name="NewOperationResponse" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest1">
		<wsdl:part name="NewOperationRequest1" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SelectRequest2">
		<wsdl:part name="InSelectRequest" type="xsd1:SelectRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="SelectResponse1">
		<wsdl:part name="OutSelectResponse"
			type="xsd1:SelectResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="Dir_faultMsg">
		<wsdl:part name="FaultEAuth" element="xsd1:EAuth"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="login_fault1Msg">
		<wsdl:part name="FaultEGeneralServerError"
			element="xsd1:EGeneralServerError">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="logout_fault1Msg">
		<wsdl:part name="FaultEGeneralServerError"
			element="xsd1:EGeneralServerError">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="Dir_fault1Msg">
		<wsdl:part name="FaultEGeneralServerError"
			element="xsd1:EGeneralServerError">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Commands">		<wsdl:operation name="Modification">
			<wsdl:input message="tf:ModificationRequest"></wsdl:input>
			<wsdl:output message="tf:ModificationResponse"></wsdl:output>
			<wsdl:fault name="fault"
				message="tf:modification_faultMsg">
			</wsdl:fault>
			<wsdl:fault name="fault1"
				message="tf:modification_fault1Msg">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Login">
			<wsdl:input message="tf:LoginRequest"></wsdl:input>
			<wsdl:output message="tf:LoginResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tf:login_faultMsg"></wsdl:fault>
			<wsdl:fault name="fault1" message="tf:login_fault1Msg"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Logout">
			<wsdl:input message="tf:LogoutRequest"></wsdl:input>
			<wsdl:output message="tf:LogoutResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tf:logout_faultMsg"></wsdl:fault>
			<wsdl:fault name="fault1" message="tf:logout_fault1Msg"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Select">
			<wsdl:input message="tf:SelectRequest2"></wsdl:input>
			<wsdl:output message="tf:SelectResponse1"></wsdl:output>
			<wsdl:fault name="fault" message="tf:Dir_faultMsg"></wsdl:fault>
			<wsdl:fault name="fault1" message="tf:Dir_fault1Msg"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>	<wsdl:binding name="TFSOAPServer" type="tf:Commands">		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Modification">
			<soap:operation
				soapAction="http://triniforce.com/server/soap/modification" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://triniforce.com/server/soap" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://triniforce.com/server/soap" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
			<wsdl:fault name="fault1">
				<soap:fault use="literal" name="fault1" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Login">
			<soap:operation
				soapAction="http://triniforce.com/server/soap/login" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://triniforce.com/server/soap" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://triniforce.com/server/soap" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Logout">
			<soap:operation
				soapAction="http://triniforce.com/server/soap/logout" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://triniforce.com/server/soap" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://triniforce.com/server/soap" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Select">
			<soap:operation
				soapAction="http://triniforce.com/server/soap/Dir" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://triniforce.com/server/soap" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://triniforce.com/server/soap" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="tfserver">
		<wsdl:documentation>
			Interface to Triniforce Server produc
		</wsdl:documentation>
		<wsdl:port binding="tf:TFSOAPServer"
			name="TriniforceSOAPserver">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
