tf-server-toolkit/branches/27.0/src/com/triniforce/xml/tfserver/_200701/folkfolder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FolkFolderSoap"
	targetNamespace="http://www.triniforce.com/xml/folkfolder/soap/ver200701"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.triniforce.com/xml/folkfolder/soap/ver200701"
	xmlns:tf="http://www.triniforce.com/xml/folkfolder/soap/ver200701"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:tf="http://www.triniforce.com/xml/folkfolder/soap/ver200701"
			targetNamespace="http://www.triniforce.com/xml/folkfolder/soap/ver200701">

			<complexType name="Select">
				<sequence>
					<element name="sessionId" type="string"></element>
					<element name="selectList" type="tf:SelectList"></element>
					<element name="selectFrom" type="string"></element>
					<element name="selectParams" type="tf:PropValue"
						minOccurs="0" maxOccurs="1">
					</element>
					<element name="selectCount" type="int"></element>
					<element name="selectFromCount" type="int"></element>
				</sequence>
			</complexType>

			<complexType name="SelectList">
				<choice>
					<element name="all" type="tf:All" maxOccurs="1"></element>
					<element name="property" type="string" minOccurs="1"
						maxOccurs="unbounded">
					</element>
				</choice>
			</complexType>

			<simpleType name="All">
				<restriction base="string"></restriction>
			</simpleType>

			<complexType name="PropValue">
				<sequence>

					<element name="name" type="string"></element>
					<element name="value" type="tf:VVariant"></element>
				</sequence>
			</complexType>

			<complexType name="Property">
				<attribute name="objName" type="string"
					use="optional">
				</attribute>
				<attribute name="propName" type="string"
					use="required">
				</attribute>
			</complexType>


			<complexType name="VString">
				<attribute name="value" type="string" use="required"></attribute>
			</complexType>

			<complexType name="VInt">
				<attribute name="value" type="int" use="required"></attribute>

			</complexType>

			<complexType name="VDateTime">
				<attribute name="value" type="dateTime"
					use="required">
				</attribute>
			</complexType>

			<complexType name="VNull"></complexType>

			<complexType name="SelectResponse">
				<sequence>
					<xsd:element name="header" type="tf:PropValue"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
					<element name="fieldDef" type="tf:FieldDef"
						maxOccurs="unbounded" minOccurs="1">
					</element>
					<element name="value" type="tf:VVariant"
						minOccurs="0" maxOccurs="unbounded">
					</element>
				</sequence>
			</complexType>

			<complexType name="ModificationRequest">
				<sequence>
					<xsd:element name="header" type="tf:PropValue"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
					<element name="sessionId" type="string"></element>
					<element name="fileId" type="string"></element>
					<element name="fileType" type="string">
						<annotation>
							<documentation>
								Needed when new documents are created
							</documentation>
						</annotation>
					</element>
					<element name="op" type="tf:Operation"
						maxOccurs="unbounded" minOccurs="1">
					</element>
				</sequence>
			</complexType>

			<complexType name="OpInsert">
				<sequence>
					<element name="tableName" type="string"></element>
					<element name="param" type="tf:PropValue"
						maxOccurs="unbounded" minOccurs="1">
					</element>
				</sequence>
			</complexType>

			<complexType name="OpUpdate">
				<sequence>
					<element name="tableName" type="string"></element>
					<element name="rowId" type="string"></element>
					<element name="param" type="tf:PropValue"
						maxOccurs="unbounded" minOccurs="1">
					</element>
				</sequence>
			</complexType>

			<complexType name="OpDelete">
				<sequence>
					<element name="tableName" type="string"></element>
					<element name="rowId" type="string"></element>
				</sequence>
			</complexType>

			<complexType name="IdMap">
				<attribute name="clientId" type="string"></attribute>
				<attribute name="serverId" type="string"></attribute>
			</complexType>


			<complexType name="EAuth">
				<complexContent>
					<extension base="tf:EGeneralServerError">
						<sequence />
					</extension>
				</complexContent>
			</complexType>

			<complexType name="EGeneralServerError">
				<sequence>
					<element name="message" type="string"></element>
					<element name="nativeExceptionName" type="string"></element>
					<element name="thread" type="string"></element>
					<element name="stack" type="string"></element>
					<element name="ancestor" type="string"
						maxOccurs="unbounded" minOccurs="0">
					</element>
					<element name="header" type="tf:PropValue"
						maxOccurs="unbounded" minOccurs="0">
					</element>
				</sequence>
			</complexType>

			<complexType name="SelectRequest">
				<sequence>
					<xsd:element name="header" type="tf:PropValue"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
					<element name="sessionId" type="string"></element>
					<element name="from" type="string"></element>
					<element name="column" type="tf:Property"
						maxOccurs="unbounded" minOccurs="1">
					</element>
					<element name="param" type="tf:PropValue"
						maxOccurs="unbounded" minOccurs="0">
						<annotation>
							<documentation>
								Dir-Property which will be used to
								search for files listed files. Such a
								property must at least speed-up
								searching plus optionally filter
								content.
							</documentation>
						</annotation>
					</element>
					<element name="order" type="tf:Property"
						maxOccurs="unbounded" minOccurs="0">
						<annotation>
							<documentation>
								array of names for "order by"
							</documentation>
						</annotation>
					</element>
					<element name="filter" type="tf:Filter"
						maxOccurs="unbounded" minOccurs="0">
						<annotation>
							<documentation>
								set of filters for filtering result.
								First filter in array will be applied
								first etc, then second filter will be
								used etc
							</documentation>
						</annotation>
					</element>
					<element name="startFrom" type="int">
						<annotation>
							<documentation>
								record number (zero-based) to start from
							</documentation>
						</annotation>
					</element>
					<element name="limit" type="int">
						<annotation>
							<documentation>
								maximum number of records to fetch
							</documentation>
						</annotation>
					</element>
				</sequence>
			</complexType>

			<complexType name="Filter">
				<sequence>
					<element name="filterName" type="string"></element>
					<element name="prop" type="tf:PropValue"
						maxOccurs="unbounded" minOccurs="0">
					</element>
				</sequence>
			</complexType>

			<complexType name="Operation">
				<choice>
					<element name="opInsert" type="tf:OpInsert"></element>
					<element name="opUpdate" type="tf:OpUpdate"></element>
					<element name="opDelete" type="tf:OpDelete"></element>
				</choice>
			</complexType>

			<complexType name="VVariant">
				<choice>
					<element name="vDateTime" type="tf:VDateTime"></element>
					<element name="vInt" type="tf:VInt"></element>
					<element name="vNull" type="tf:VNull"></element>
					<element name="vString" type="tf:VString"></element>
					<element name="vArray" type="tf:VArray"></element>
					<element name="vLong" type="tf:VLong"></element>
					<element name="vDouble" type="tf:VDouble"></element>
					<element name="vDecimal" type="tf:VDecimal"></element>
					<element name="vCLOB" type="tf:VCLOB"></element>
					<xsd:element name="vNamedVar" type="tf:VNamedVar"></xsd:element>
					<xsd:element name="vObject" type="tf:VObject"></xsd:element>
					<xsd:element name="vUnknown" type="tf:VUnknown"></xsd:element>
				</choice>
			</complexType>

			<complexType name="FieldDef">
				<sequence>
					<element name="name" type="string"></element>
				</sequence>
			</complexType>

			<complexType name="ModificationResponse">
				<sequence>
					<xsd:element name="header" type="tf:PropValue"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<element name="idMap" type="tf:IdMap"
						maxOccurs="unbounded" minOccurs="0">
					</element>
				</sequence>
			</complexType>

			<complexType name="VArray">
				<sequence maxOccurs="unbounded" minOccurs="0">
					<element name="vVariant" type="tf:VVariant"></element>
				</sequence>
			</complexType>



			<complexType name="VDouble">
				<attribute name="value" type="double"></attribute>
			</complexType>

			<complexType name="VLong">
				<attribute name="value" type="long"></attribute>
			</complexType>

			<complexType name="VDecimal">
				<attribute name="value" type="decimal"></attribute>
			</complexType>


			<element name="VArray" type="tf:VArray"></element>

			<element name="SelectRequest" type="tf:SelectRequest"></element>

			<element name="SelectResult" type="tf:SelectResponse"></element>

			<element name="ModificationRequest"
				type="tf:ModificationRequest">
			</element>

			<element name="ModificationResponse"
				type="tf:ModificationResponse">
			</element>

			<element name="EAuth" type="tf:EAuth"></element>

			<element name="EGeneralServerError"
				type="tf:EGeneralServerError">
			</element>


			<complexType name="VCLOB">
				<sequence>
					<element name="mimeType" type="string"></element>
					<element name="data" type="string"></element>
					<xsd:element name="created" type="xsd:dateTime"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="creatorNickName"
						type="xsd:string" maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="creatorId" type="xsd:string"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
				</sequence>
			</complexType>


			<complexType name="VNamedVar">
				<sequence>
					<element name="value" type="tf:VVariant"></element>
				</sequence>
				<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
			</complexType>
			<xsd:complexType name="NewOperationRequest">
				<xsd:sequence>
					<xsd:element name="in" type="xsd:string"></xsd:element>
					<xsd:element name="in1" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="NewOperationResponse">
				<xsd:sequence>
					<xsd:element name="out" type="xsd:string"></xsd:element>
					<xsd:element name="out1" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BatchRequest">
				<xsd:sequence>
					<xsd:element name="header" type="tf:PropValue"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
					<xsd:element name="request" type="tf:Request"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BathResponse">
				<xsd:sequence>
					<xsd:element name="header" type="tf:PropValue"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
					<xsd:element name="response" type="tf:Response"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Request">
				<xsd:choice>
					<xsd:element name="select"
						type="tf:SelectRequest">
					</xsd:element>
					<xsd:element name="modification"
						type="tf:ModificationRequest">
					</xsd:element>
				</xsd:choice>
			</xsd:complexType>

			<xsd:complexType name="Response">
				<xsd:choice>
					<xsd:element name="select"
						type="tf:SelectRequest">
					</xsd:element>
					<xsd:element name="modification"
						type="tf:ModificationResponse">
					</xsd:element>
				</xsd:choice>
			</xsd:complexType>
		
			<xsd:complexType name="VObject">
				<xsd:sequence>
					<xsd:element name="prop" type="tf:VNamedVar"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="type" type="xsd:string"></xsd:attribute>
			</xsd:complexType>

			<xsd:simpleType name="VUnknown">
				<xsd:restriction base="xsd:string"></xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ModificationRequest">
		<wsdl:part name="InModificationRequest"
			type="tns:ModificationRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ModificationResponse">
		<wsdl:part name="OutModificationResponse"
			type="tns:ModificationResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="SelectRequest">
		<wsdl:part name="InSelectRequest" type="tns:SelectRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="SelectResponse">
		<wsdl:part name="OutSelectResponse" type="tns:SelectResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="FaultEAuthMsg">
		<wsdl:part name="FaultEAuth" element="tns:EAuth"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EGeneralServerErrorMsg">
		<wsdl:part name="FaultEGeneralServerError"
			element="tns:EGeneralServerError">
		</wsdl:part>
	</wsdl:message>



	<wsdl:message name="BatchRequest">
		<wsdl:part name="BatchRequest" type="tns:BatchRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="BatchResponse">
		<wsdl:part name="BatchResponse" type="tns:BathResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="FolkFolderPortType">

		<wsdl:operation name="Modification">
			<wsdl:input message="tf:ModificationRequest"></wsdl:input>
			<wsdl:output message="tf:ModificationResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tf:FaultEAuthMsg">
			</wsdl:fault>
			<wsdl:fault name="fault1"
				message="tf:EGeneralServerErrorMsg">
			</wsdl:fault>
		</wsdl:operation>


		<wsdl:operation name="Select">
			<wsdl:input message="tf:SelectRequest"></wsdl:input>
			<wsdl:output message="tf:SelectResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tf:FaultEAuthMsg"></wsdl:fault>
			<wsdl:fault name="fault1"
				message="tf:EGeneralServerErrorMsg">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Batch">
			<wsdl:input message="tns:BatchRequest"></wsdl:input>
			<wsdl:output message="tns:BatchResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="FolkFolderBinding"
		type="tns:FolkFolderPortType">

		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Modification">

			<soap:operation
				soapAction="http://www.triniforce.com/xml/folkfolder/soap/ver200701/Modification" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://www.triniforce.com/xml/folkfolder/soap/ver200701" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal"
					namespace="http://www.triniforce.com/xml/folkfolder/soap/ver200701" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
			<wsdl:fault name="fault1">
				<soap:fault use="literal" name="fault1" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Select">
			<soap:operation
				soapAction="http://www.triniforce.com/xml/folkfolder/soap/ver200701/Select" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://www.triniforce.com/xml/folkfolder/soap/ver200701" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://www.triniforce.com/xml/folkfolder/soap/ver200701" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
			<wsdl:fault name="fault1">
				<soap:fault use="literal" name="fault1" />
			</wsdl:fault>

		</wsdl:operation>
		<wsdl:operation name="Batch">
			<soap:operation
				soapAction="http://www.triniforce.com/xml/folkfolder/soap/ver200701/Batch" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://www.triniforce.com/xml/folkfolder/soap/ver200701" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://www.triniforce.com/xml/folkfolder/soap/ver200701" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FolkFolderSoap">
		<wsdl:port binding="tns:FolkFolderBinding"
			name="FolkFolderPort">
			<soap:address
				location="http://www.triniforce.com/folkfolder/soap" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
